NEXT_PUBLIC_APP_URL=http://localhost:3000
RESEND_API_KEY=your_resend_key
RESEND_FROM_EMAIL=hello@yourdomain.com
REPLY_TO_EMAIL=yourpersonalemail@gmail.com
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
SUPABASE_SECRET_KEY=your_secret_key
